.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "color1 color2 color3 color4"
    "color5 color6 color7 color8"
    "color9 color10 color11 color12"
    "color13 color14 color15 color16";
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 15px;
  align-items: center;
}

.heading {
  width: 170px;
  height: 50px;
  margin: 10px 0;
}

.colorscheme-img {
  width: 100%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.selector {
  margin: 10px 0 14px 0;
}


@media (orientation: landscape) {
  .wrapper {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    grid-template-areas:
      "color1 color2 color3 color4 header"
      "color5 color6 color7 color8 header"
      "color9 color10 color11 color12 header"
      "color13 color14 color15 color16 header";
  }

  header {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
  }

  .heading {
    width: 170px;
    margin: 10px 30px;
  }

  .selector {
    margin: 10px 30px;
  }
}

.color {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.color:nth-child(2) {
  grid-area: color1;
}

.color:nth-child(3) {
  grid-area: color2;
}

.color:nth-child(4) {
  grid-area: color3;
}

.color:nth-child(5) {
  grid-area: color4;
}

.color:nth-child(6) {
  grid-area: color5;
}

.color:nth-child(7) {
  grid-area: color6;
}

.color:nth-child(8) {
  grid-area: color7;
}

.color:nth-child(9) {
  grid-area: color8;
}

.color:nth-child(10) {
  grid-area: color9;
}

.color:nth-child(11) {
  grid-area: color10;
}

.color:nth-child(12) {
  grid-area: color11;
}

.color:nth-child(13) {
  grid-area: color12;
}

.color:nth-child(14) {
  grid-area: color13;
}

.color:nth-child(15) {
  grid-area: color14;
}

.color:nth-child(16) {
  grid-area: color15;
}

.color:nth-child(17) {
  grid-area: color16;
}
